html, body {
    margin: 0;
    padding: 0;
    font-family: reddit-sans, sans-serif;
}

body {
    font-family: reddit-sans, sans-serif;
}

/* HOMEPAGE */
/*-----------------------------------------------------------*/
.homebody {
    background-color: #FFEBEB;
}


.homeheader {
    background-color: #F7AE96;
    height: 90px;
    display: flex;
    margin: 0;
    align-content: center;
    justify-content: center;
}

div.homeheadernav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

div.homeheadersearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

div.homebanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    background: linear-gradient(to right, #FEF7F7, #FEF7F7 30%, transparent);
    border-radius: 25px;
    margin-top: 20px;

}

div.homebanner1 {
    height: 400px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.homebanner2 {
    justify-content: flex-end;
    align-items: center;
    justify-self: right;
}

div.homemainsearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

div.homecategory1, div.homecategory2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 48%;
    height: 280px;
    background-color: #F7AE96;
    border-radius: 25px;
}

div.homecategory1{
    background-image: url(photobear2.jpg);
    background-size: cover;
}
div.homecategory2{
    background-image: url(photobanner1.jpg);
    background-size: cover;
}

div.homecategory1 > div, div.homecategory2 > div {
    background-color: #FFE7C5;
    justify-self: flex-end;
    text-align: center;
    width: 100%;
    border-radius: 0 0 25px 25px;
    height: 50px;
}

footer {
    background-color: #F7AE96;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

div.homemaincategories {
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

div.homebooking {
    width: 75%;
}

div.homemaincategories, div.homebooking {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
}

/*SHOP*/
/*-----------------------------------------------------------*/

div.shopbanner {
    height: 100px;
    background-color: #FFF8F8;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
}

.shopproducts {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    max-width: calc((250px * 3) + (30px * 2));
    padding-top: 40px;

}

.productcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFF8F8;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    width: 250px;
    box-shadow: #aaa6ac 0px 2px 5px;
}

/*PRODUCT*/
/*-----------------------------------------------------------*/
div.productinfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
}

div.productbanner {
    justify-content: center;
    margin-top: 20px;
    align-items: flex-start;
    width: fit-content
}

div.productoptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

div.productthumbnail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.productquantity {
    display: flex;
    align-items: center;
    width: 100px;
    margin-bottom: 10px;

}

/*CART*/
/*-----------------------------------------------------------*/



/*GENERAL FLEX DIRECTION*/
/*-----------------------------------------------------------*/

div.columnflex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

div.rowflex {
    display: flex;
    margin: 0 auto;
}

.marginbottom {
    margin-bottom: 40px;
}

div.homebookingtext {
    margin-top: 100px;
    width: 50%;
    text-align: center;
    align-self: center;
}

div.homebookinginner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* LINK */
/*-----------------------------------------------------------*/

a.anav {
    color: #1a1a1a;
    text-decoration: none;
}

a.anav:hover {
    text-decoration: underline;
}

/* IMAGES */
/*-----------------------------------------------------------*/

.imglogo {
    width: 60px;
    height: 60px;
    align-self: center;
    margin: 20px
}

.imgbanner {
    width: 500px;
    height: 500px;
    border-radius: 25px;
}

.imgbooking {
    width: 300px;
}

.shopproductimage {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.productimage {
    height: 300px;
    border-radius: 25px;
    box-shadow: #aaa6ac 0px 2px 5px;
    margin-bottom: 15px;
}

.productthumbnailimage {
    width: calc(300px/3 - 15px);
    height: calc(300px/3 - 15px);
    border-radius: 15px;
    margin-right: 10px;
}

/* BUTTONS */
/*-----------------------------------------------------------*/

.searchinput {
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    margin-right: 5px;
    font-size: 12px;
}

.searchinputmain {
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 9px;
    padding-right: 5px;
    margin-right: 5px;
    font-size: 10px;
    width: 70%;
    background: #ffffff url(symbolsearch.png) no-repeat;
    background-size: 15px 15px;
    background-position: right 12px center;
    border: 1px solid #62546A;
}


.iconbutton {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #F7AE96;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.iconbutton:hover {
    transform: scale(1.05);
}

.buttonpink {
    height: 35px;
    border-radius: 5px;
    background-color: #F7AE96;
    color: #fbfbfb;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border: 0.5px solid #62546A;
}

button.homebooking {
    width: 90%;
    align-self: center;
}

.buttonpinkalignstart {
    align-self: self-start;
    margin-left: 30px;
}

.headericon {
    width: 20px;
    height: 20px;

}

.productsizebutton {
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #b37b79;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    font-size: 9px;
    background-color: #FFEBEB;
    color: #62546A;
}

.productsizebutton:active {
    background-color: #FFE7C5;
}

.productsizebuttonclicked {
    background-color: #FFE7C5;
}

.productaddrem {
    font-size: 15px;
    font-weight: bold;;
    color: #62546A;
    background: none;
    border: none;
    margin-bottom: 10px;
}

.productaddrem:hover {
    color: #b37b79;
    transform: scale(1.05);

}

/* INPUT */
/*-----------------------------------------------------------*/
.shopselect {
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #b37b79;
    padding-left: 10px;
    padding-right: 15px;
    margin-right: 5px;
    font-size: 9px;
    background-color: #FFEBEB;
    color: #62546A;
    font-weight: bold;
}

#quantityinput {
    height: 27px;
    border-radius: 5px;
    border: 1.5px solid #b37b79;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 9px;
    color: #62546A;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Removes the default appearance */
    margin: 0; /* Sometimes needed to remove any residual space */
}


/*TEXT*/
/*-----------------------------------------------------------*/

.bannerh1 {
    font-family: "Reddit Sans", Helvetica;
    font-weight: 600;
    color: #b37b79;
    font-size: 30px;
    margin-left: 30px;
}
p, .productprice {
    font-family: "Reddit Sans", Helvetica;
    font-weight: 400;
    color: #62546A;
    font-size: 12px;
}

.shopproducttitle:hover {
    text-decoration: underline;
}

p.eightpx{
    font-size: 8px;
}

p.bannerp {
    margin-left: 30px;
}

h2.homeh2 {
    font-family: "Reddit Sans", Helvetica;
    color: #b37b79;
}

h2.center {
    align-self: center;
}

.shoplabel {
    font-family: "Reddit Sans", Helvetica;
    color: #62546A;
    font-weight: bold;
    font-size: 10px;
}

h4.shopproducttitle {
    font-family: "Reddit Sans", Helvetica;
    color: #62546A;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.productbreakline {
    width: 100%;       
    border: none;
    border-top: 1px solid #ccc;  
    margin-top: 10px;  
}

p.italic {
    font-style: italic;
}